@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  h1 {
    font-size: 4vw;
  }
  p {
    font-size: 2vw;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
